*{
  margin: 0PX;
  padding: 0PX;
}


header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 1rem;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header .logo {
    margin-bottom: 1rem;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}